# Kaggle titanic competition

This is my attempt at cracking the titanic challenge posted by Kaggle. I primarily code in Python so it's my obvious language choice.

One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for the passengers and crew. Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class.

In this challenge, they ask us to complete the analysis of what sorts of people were likely to survive.

Stick around, it should be fun!

Ok, we first import pandas library and read it in the training data.

Download the titanic dataset here: <https://www.kaggle.com/c/titanic>

Pandas has a nice built in function to read csv files : **read_csv**

In [34]:
import pandas as pd

titanic = pd.read_csv('/titanic/train.csv')

**titanic** variable in our case is known as a data frame(df). Representing the object as a data frame will make manipulating the data so much easier, you'll find out later!

Print all the columns in the data frame, for reference!

In [35]:
print titanic.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

Use **describe** to get basic statistics of all the columns like count, mean, max, min etc.

In [36]:
print titanic.describe()

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

**Important:** As you can see, the count for the `Age` column is less than all other columns, so we need to make a decision here! Either discard the rows which are empty or fill it with some value.

We have missing data, in other words!

Here, we'll choose the later, we'll fill the empty values with the median `Age` values

In [37]:
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())

##Non-numeric Data

Several of our columns are non-numeric, which is a problem when it comes time to make predictions -- we can't feed non-numeric columns into a machine learning algorithm and expect it to make sense of them.

We have to either exclude our non-numeric columns when we train our algorithm (Name, Sex, Cabin, Embarked, and Ticket), or find a way to convert them to numeric columns.

We'll ignore the Ticket, Cabin, and Name columns. There isn't much information we can extract from there. Most of the values in the cabin column are missing (only 204 values out of 891 rows), and it likely isn't a particularly informative column in the first place. The Ticket and Name columns are unlikely to tell us much without some domain knowledge about what the ticket numbers mean, and about which names correlate with characteristics like large or rich families.

##Converting the Sex column


The Sex column is non-numeric, but we want to keep it around -- it could be very informative. We can convert it to a numeric column by replacing each gender with a numeric code.

In our case, we'll replace `female` values with 1 and `male` values with a 0.

In [38]:
# Find all the unique genders -- the column appears to contain only male and female.
print(titanic["Sex"].unique())

# Replace all the occurences of male with the number 0.
# Replace all the occurences of female with the number 1.
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0
titanic.loc[titanic["Sex"] == "female", "Sex"] = 1

['male' 'female']